@import '../abstract/_variables.scss'

@mixin bg-cores($cores...)
    background: linear-gradient(to left, $cores)

footer
    text-align: center
    font-size: $tamanho-texto/3
    border-top: 2px solid $cor-quaternaria
    margin-top: 1rem
    padding: 1.2rem
    color: $cor-secundaria
    @include bg-cores($cor-primaria, $cor-quaternaria, $cor-primaria-1, $cor-quaternaria-1)
    i
        color: $cor-secundaria
        &:hover
            color: red