// FONTES:
$fonte: 'Roboto', sans-serif;

// CORES:
$cor-primaria: #3d6141;
$cor-primaria-1: #233b26;
$cor-secundaria: #EFEAD8;
$cor-secundaria-1: #efead82d;
$cor-terciaria: #84a38b;
$cor-quaternaria: #b85a35;
$cor-quaternaria-1: #c76c47;
$cor-quaternaria-2: #cc745100;
$cor-branco: white;
$cor-preto: black;

// TAMANHO DAS FONTES:
$tamanho-texto: 3rem;